/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wt-theme-products-htable {

	background: var(--clr-gray);
	padding: .3rem 0;
	// display: flex;
	// margin-left: -10px;
	// margin-right: -10px;

	// @for $i from 1 through 6 {
	// 	&.has-#{$i}-columns {
	// 		.wp-block-wt-theme-table {
	// 			width: calc(100% / #{$i} - 20px);
	// 		}
	// 	}
	// }

	.wp-block-wt-theme-innertable {
		margin: 10px;


		display: flex;
		align-items: center;
		justify-content: space-between;

		figure {
			display: block;
			margin: 0 !important;
		}
	}
}
